#mainTopic{
    color: rgb(0,0,255);
}

*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
section p {
    color: white;
    background-color: cornflowerblue;
}
div button{
    background-color: purple;
    color: azure;
}
button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-of-type(odd){
    background-color: yellow;
    color: orange;
}
h1::first-letter{
    color: red;
}

#yes:checked+label{
    color: darkgreen;
}